// Root locations
PROJECT_ROOT = $(PROJECT_DIR)/..
SOURCE_ROOT = $(PROJECT_ROOT)/source
BUILD_ROOT = $(PROJECT_ROOT)/build

// Build locations
BUILD_DIR = $(BUILD_ROOT)
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/macOS
CONFIGURATION_TEMP_DIR = $(CONFIGURATION_BUILD_DIR)/intermediate

// Build configuration
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = $(SOURCE_ROOT) $(inherited)
GCC_PREPROCESSOR_DEFINITIONS_ALL = BOOST_ALL_NO_LIB __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 $(inherited)
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_NO_COMMON_BLOCKS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_OBJC_ARC = YES
COMBINE_HIDPI_IMAGES = YES
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.10

// Third party path information
THIRD_PARTY_ROOT = $(PROJECT_ROOT)/third_party
THIRD_PARTY_INCDIR = include
THIRD_PARTY_LIBDIR = objdir-macosx/lib

// Boost information
BOOST_VERSION = boost-1.65.1
BOOST_ROOT = $(THIRD_PARTY_ROOT)/boost/$(BOOST_VERSION)
BOOST_INCDIR = $(BOOST_ROOT)/$(THIRD_PARTY_INCDIR)
BOOST_LIBDIR = $(BOOST_ROOT)/$(THIRD_PARTY_LIBDIR)
