// Main locations
PLATFORM = macOS
PROJECT_ROOT = $(PROJECT_DIR)/..
SOURCE_ROOT_REL = source                        // Relative to PROJECT_ROOT
SOURCE_ROOT = $(PROJECT_ROOT)/$(SOURCE_ROOT_REL)

// Build-specific locations
BUILD_ROOT_REL = build                          // Relative to PROJECT_ROOT
BUILD_ROOT = $(PROJECT_ROOT)/$(BUILD_ROOT_REL)
BUILD_OUTDIR_REL = $(PLATFORM)/$(CONFIGURATION) // Relative to BUILD_ROOT
BUILD_OUTDIR = $(BUILD_ROOT)/$(BUILD_OUTDIR_REL)
BUILD_TEMPDIR_REL = intermediate                // Relative to BUILD_OUTDIR
BUILD_TEMPDIR = $(BUILD_OUTDIR)/$(BUILD_TEMPDIR_REL)

// Third party locations
THIRD_PARTY_ROOT_REL = third_party              // Relative to PROJECT_ROOT
THIRD_PARTY_ROOT = $(PROJECT_ROOT)/$(THIRD_PARTY_ROOT_REL)
THIRD_PARTY_INCDIR_REL = include
THIRD_PARTY_LIBDIR_PRE = objdir
THIRD_PARTY_LIBDIR_SUF = macosx/lib
THIRD_PARTY_LIBDIR_REL = $(THIRD_PARTY_LIBDIR_PRE)-$(THIRD_PARTY_LIBDIR_SUF)

// Boost information
BOOST_VERSION = 1.66.0
BOOST_ROOT = $(THIRD_PARTY_ROOT)/boost/boost-$(BOOST_VERSION)
BOOST_INCDIR = $(BOOST_ROOT)/$(THIRD_PARTY_INCDIR_REL)
BOOST_LIBDIR = $(BOOST_ROOT)/$(THIRD_PARTY_LIBDIR_REL)

// Path properties
BUILD_DIR = $(BUILD_ROOT)
PROJECT_TEMP_DIR = $(BUILD_OUTDIR)
CONFIGURATION_BUILD_DIR = $(BUILD_OUTDIR)
CONFIGURATION_TEMP_DIR = $(BUILD_TEMPDIR)
OBJROOT = $(CONFIGURATION_TEMP_DIR)
SYMROOT = $(CONFIGURATION_TEMP_DIR)

// Common compilation options
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = $(SOURCE_ROOT) $(inherited)
SYSTEM_HEADER_SEARCH_PATHS = $(BOOST_INCDIR) $(inherited)
LIBRARY_SEARCH_PATHS = $(BUILD_OUTDIR) $(BOOST_LIBDIR) $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_CFG) BOOST_ALL_NO_LIB ONLY_C_LOCALE=1 __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 $(inherited)
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_NO_COMMON_BLOCKS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_OBJC_ARC = YES
COMBINE_HIDPI_IMAGES = YES
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.10
